# forge/hardhat artifact, cache
build

# juanblanco.solidity compilation outputs
bin

# general
.env

# editors
.idea

# libs
node_modules

# ignore foundry deploy artifacts
broadcast

# temporary files
temp
