# artifacts+caches
build/

# general
.env

# editors
.idea

# well, looks strange to ignore package-lock, but we have only pretter and it's temproray
node_modules

# ignore foundry deploy artifacts
broadcast/

# temporary files
temp/
