# forge/hardhat artifact, cache
build
ts/types/typechain
deployments/hardhat
# juanblanco.solidity compilation outputs
bin

# general
.DS_Store
.env

# editors
.idea

# libs
node_modules

# ignore foundry deploy artifacts
broadcast

# temporary files
temp/**/*
!temp/.empty
/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/.env
